* { box-sizing: border-box; }

html{
  height:100%;
}
body {
  height:100%;
  padding: 0%;
  margin: 0%;
  position:relative;
}

/*.example-enter {
  opacity: 0.01;
  right: 100px;
}

.example-enter-active {
  opacity: 1;
  transition: opacity 900ms ease-in;
  right: 0px;
  color: red;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

*/
/*.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
  right: 100px;
}

*/
/* SLIDING AND FADING IN ELEMENTS EXAMple below

*/
/*.samples{
  text-align: center;
}*/

/*.example-enter {
  opacity: 0.01;
  background: blue;
  height: 0px;
  transform: translate(400px);
  
}

.example-enter.example-enter-active {
  opacity: 1;
  height: 400px;
  transition:  5s ease-out;
  transform: translate(0%)
}*/

/*.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  height: 0px;
  width: 0px;
  transition: 2000ms;
  transform: translate(-300px,0px);
}*/

/*.example-appear {
  opacity: 0.01;
  width: 0px;
  transform:translate(10%);
}

.example-appear.example-appear-active {
  opacity: 1;
  height: 300px;
  width: 300px;
  transition:  all 5s;
  transform: translate(0%);
}*/


/*.theItems {
  width: 300px;
  height: 300px;
  background-color: green;
  float: left;
  border: solid 2px white;
  box-sizing: border-box;
  display: inline-block;
  border: solid black 5px;
}*/

/*==============================*/


.mainpic{
  width: 100%;
  height: 100%;
  position: relative;
}

.app{
  width: 100%;
  height: 100%;
}

.img-responsive{
  width: 100%;
  height: 100%;
}

.navElements{
  display: inline-block;
  margin-left: 20px;
  color: white;
  top: 10px;
  font-family: 'Raleway', sans-serif;
}
.navServices{
  margin-right: 20px;
}

.navBar{
 
   position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
      overflow: hidden;
      width: 100%;
}


.WelcomeMsg{
  position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: "Droid Serif";
    font-style: italic;
    letter-spacing: 3px;
    text-align: center;

    
}

.WelcomeMsgTwo{
    position: absolute;
    top: 17%;
    white-space: normal;
    font-size: 90px;
    line-height: 30px;
    font-weight: 100;
   font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 18px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;

     
}






















.WelcomeBtn{
  position: absolute;
  top: 70%;
  height: 50px;
  width: 150px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  z-index: 200;
  margin-left: 44%;
  color: white;
  background-color: Transparent;
  border-width: .5px;
  -webkit-animation: mymove 5s 1; /* Safari 4.0 - 8.0 */
    animation: mymove 3s 1;



}


@-webkit-keyframes mymove {
    from {
      left: -200px;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
}

@keyframes mymove {
    from {
      left: -200px;
      opacity: 0;
    }
    to {
      left: 0px;
      opacity: 1;

    }
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}








.WelcomeBtn:hover { 
    background-color: white;
    color: black;
      border-width: 0px;
      border-radius: 5px;
}
.WelcomeBtn:focus{
  outline:0;
}

.byDesign{
  margin-top: -100px;
   letter-spacing: 14px;
}

.navList{
  float: right;
      padding-top: 18px;
}
.navIcon{
  color: white;
  margin-left: 20px;
  margin-top: 10px;
}


.navText, .navIcon {
  display: inline-block;
}

.navText {
  margin-left: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
}


/*FIRST ROW */

.row1{
  width: 100%;
  text-align: center;
  /*padding-left: 45px;*/
  margin-left: 0%;
  margin-right: 0%;

  padding-top: 50px;

}


.box1,.box2,.box3 {
  
  width: 18em;
  height: 200px;
  display: inline-block;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0px;
  color: white;
  vertical-align: top
  box-shadow: 6px 5px 30px #505050;

  border: 1px solid black;

}















